## Goal

- Student have proficiency in implementation of Decision Tree

# Load Dataset

In [3]:
import numpy as np
import pandas as pd
from sklearn import tree

input_file = "hires.csv"
df = pd.read_csv(input_file, header = 0)

In [4]:
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N

# Data Preprocessing

Kita mengubah Y dan N menjadi 1 dan 0 serta levels of education ke dalam skala 0-2. 
Kita menggunakan fungsi map() untuk mendapatkan NaN dari nilai yang tidak terduga.

In [5]:
d = {'Y': 1, 'N': 0}
df['Hired'] = df['Hired'].map(d)
df['Employed?'] = df['Employed?'].map(d)
df['Top-tier school'] = df['Top-tier school'].map(d)
df['Interned'] = df['Interned'].map(d)
d = {'BS': 0, 'MS': 1, 'PhD': 2}
df['Level of Education'] = df['Level of Education'].map(d)
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,1,4,0,0,0,1
1,0,0,0,0,1,1,1
2,7,0,6,0,0,0,0
3,2,1,1,1,1,0,1
4,20,0,2,2,1,0,0

Selanjutnya kita perlu memisahkan fitur dari kolom target yang kita coba untuk membangun pohon keputusan.

In [6]:
features = list(df.columns[:6])
features

['Years Experience',
 'Employed?',
 'Previous employers',
 'Level of Education',
 'Top-tier school',
 'Interned']

## Build the Model

In [7]:
y = df["Hired"]
X = df[features]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y)

Kemudian kita tampilkan pohonnya. 
Catatan, kita perlu library pydotplus terinstall untuk ini. (ketikkan pip install pydotplus di dalam command prompt/terminal)

Untuk membaca decision tree, cabang kiri adalah "true" dan kanan adalah "false". 
Saat Anda berakhir pada suatu nilai, susunan nilai menunjukkan jumlah sampel yang ada di setiap nilai target. 
Nilai [0. 5.] berarti ada 0 "no hires" dan 5 "hires" pada saat kita sampai pada titik itu. 
Nilai = [3. 0.] berarti ada 3 no-hires dan 0 hires.

In [8]:
from IPython.display import Image  
from sklearn.externals.six import StringIO  
import pydotplus

dot_data = StringIO()  
tree.export_graphviz(clf, out_file=dot_data,  
                         feature_names=features)  
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())

InvocationException: GraphViz's executables not found

## Ensemble learning: using a random forest

Kami akan menggunakan random forest 10 decision tree untuk memprediksi pekerjaan profil kandidat tertentu:

In [7]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=10)
clf = clf.fit(X, y)

# Prediksi untuk seorang pekerja dengan pengalaman 10 tahun
print (clf.predict([[10, 1, 4, 0, 0, 0]]))
# Prediksi untuk seorang pengangguran dengan pengalaman kerja 10 tahun
print (clf.predict([[10, 0, 4, 0, 0, 0]]))

[1]
[0]

## Summary

- Decision Tree berfungsi untuk mengubah data menjadi decision tree dan aturan-aturan keputusan.
- Kualitas keputusan yang didapatkan dari metode decision tree sangat tergantung pada bagaimana pohon tersebut didesain.